:root {
    --main-bgn-color: #ffffff;
    --secondary-bgn-color: #F7F7F7;
    --third-bgn-color: #191C26;
    --accent-color: #FF6C00;
    --title-color: #ffffff;
    --second-title-color: #303030;
    --main-text-color: #555555;
    --color-nav: #ffffff;
    --btn-color: #303030;
    --btn-second-color: #ffffff;
}