.footer { 
    background-color: var(--main-bgn-color);
    padding-top: 57px;
    padding-bottom: 55px;
}

.footer-wrap {
    display: flex;
    align-items: center;
}

.footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    &::before {
        content: "";
        width: 60px;
        height: 1px;
        background-color: currentColor;
        margin-right: 40px;
    }
}

.footer-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-item:not(:last-child) {
    margin-right: 40px;
}



.footer-copy {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    letter-spacing: 0.2em;
    
    color: #9DA4BD;
}

.footer-link {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    letter-spacing: 0.2em;
    
    color: #303030;
}
.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}
 


