.header {
    position: absolute;
    z-index: 999;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include desktop {
        justify-content: center;
    }
}

.header-logo {
    margin-right: 69px;
}

.logo__icon {
   fill: #ffffff;
   @include tablet {
    fill: inherit;
   }
}

.header-list {
    display: none;
    @include desktop{
        display: flex;
        align-items: center;
    }
}

.header-item:not(last-child) {
    margin-right: 40px;
}

.header-connect {
    display: none;
    @include desktop {
        margin-left: auto;
    } 
}

.header-link,
.header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--color-nav);
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

.header-btn {
    display: none;
    @include desktop {
        display: block;
        color: var(--btn-second-color);
        margin-left: 40px;
    }
}

.menu-open-btn {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
}  

.menu__burger {
    fill: #ffffff;
}